.center{
  margin-left:auto;
  margin-right:auto;
}

table {
  border-collapse: collapse;
  background-color: lightpink;
  border: 1px solid;
}

th, td, tr {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  
}

h1, h2, h3 {
  font-family: Lucida Sans Unicode;
  text-align: center;
  color: rgb(109, 102, 102);
}

article {
	margin: 0 auto;
	width: 90%;
  text-align: justify;
  color: rgb(109, 102, 102);
}

.n {
font-size: 36px;

}

.p-icon {
  width: 15%;
  border-style: solid;
  border-width: 0.25px;
  border-radius: 25%;
  border-color: #fddef1;
}

.github-icon{
  width: 50px;
  height: auto;
  margin-left: 15px;
}

footer{
  bottom: 0px;
  position: fixed;
  width: 100%;
  height: 2.5rem; 
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #fddef1;
  color: rgb(109, 102, 102);
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fddef1;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(109, 102, 102);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fda6d4;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #89867e;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

a {
    text-decoration: none;
    outline: none;
}

a img {
    border: none;
}

.caption {
	display: inline-block;
	position: relative;
	margin: 2px;
}

.caption img {
	display: block;
	width: 150px;
  height: 150px;
}

.caption::before,
.caption::after {
	opacity: 0;
	position: absolute;
	width: 100%;
	color: rgb(109, 102, 102);
	padding: 2px;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.caption::before {
	content: attr(data-title);
	top: 0;
	height: 30%;
	background: #fddef1;
	font-size: 16px;
	font-weight: 300;
}

.caption::after {
	content: '\201C' attr(data-description) '\201D';
	top: 30%;
	height: 70%;
	background: #fddef1;
	font-size: 12px;
	text-align: center;
}

.caption:hover::before,
.caption:hover::after {
	opacity: 1;
}

.btn-6d {
	border: 2px dashed #fddef1;
}

.btn-6d:hover {
	background: transparent;
	color: rgb(109, 102, 102);
}